* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* common style */
.btn {
    background-color: rgb(221, 0, 0);
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* icon */
/* <i class="fa-solid fa-clock"></i> */
/* <i class="fa-solid fa-message"></i> */
/* custom style start */

/* header style */
.headerMain{
    display: flex;
    /* gap: 10px; */
    background-color: black;
    margin: 15px 0; 
    align-items: center;
    border-radius: 15px;
    /* width: 100%; */
}

.title {
    color: whitesmoke;
    /* border: 2px solid white; */
    padding-left: 30px;
}

.title h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 70px;
}

.title p {
    margin-bottom: 15px;
    width: 80%;
}

.images img {
    display: block;
}



/* headder syle end: */


/* media query and small device linke phone */
/* @media screen and (max-width:576px) {
    .headerMain{
        flex-direction: column;
    }
} */

@media screen and (max-width:576px) {
    .headerMain{
     flex-direction: column;
     margin: 0 0px;
     border-radius: 0;
     width: 100%;
    }
    .images img{
         margin: 30px 10px;
        width: 100%;
        /* justify-items: center; */
    }
    .title{
        justify-items: center;
        text-align: center;
    }
    .title h1{
        font-size: 30px;
        line-height:35px;
    }
    .title p{
        margin: 10px 0;
    }

}
































/* main code */
.main {
    display: flex;
    gap: 20px;
   padding: 50px 0;
}

/* card left */
.left_side {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.left_side button {
    width: 70%;
    margin: 10px auto;
}
.left_side button:nth-child(1){
    background-color: whitesmoke;
    color: black;
}
.left_side button:nth-child(2){
    background-color: whitesmoke;
    color: black;
}
/* card right */
.card-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 75%;
}
.card{
    /* border: 2px solid rgba(128, 128, 128, 0.247); */
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(230, 225, 225);
   
}
.trans_btn {
    background-color: whitesmoke;
    padding:3px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.733);
    color: black;
    margin-left: 20px;
   
}
.card h2{
    font-size: 18px;
    font-weight: 500px;
}
.card_botom span{
   color: gray;
}
.card h2,.card_botom span{
    margin: 10px 0;
    padding: 0 20px;
    /* padding: 0 20px; */

}

/* .card{
    width: 312px;
    height: 362px;
    border: 2px solid black;
} */
.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* media quriya/responsive */

@media screen and (max-width:576px) {
    .headerMain{
        flex-direction: column;
        width: 100%;
        /* margin-right: 0px;
        margin-left: 20px; */
        justify-content: center;
        display: flex;
        flex: 1;
    }
    .main{
        flex-direction: column;
    }
    
    .card-main{
      grid-template-columns: 1fr;
      gap: 40px;
    }
    .card{
      margin-left: 80px;
    }
    .left_side{
        flex-direction: row;
        gap:10px;
        margin-bottom: 50px;
    }
    /* .left_side>button{
        flex: 1;
        width: 100%;
    } */
}